---
# tasks file for k3s-gateway

- name: Incluir tareas de configuración de metallb
  ansible.builtin.import_tasks: metallb.yml

- name: Incluir tareas de configuración de ingress-nginx
  ansible.builtin.import_tasks: ingress-nginx.yml

- name: Incluir tareas de configuración de external-dns
  ansible.builtin.import_tasks: external-dns.yml

- name: Incluir tareas de configuración de cert-manager
  ansible.builtin.import_tasks: cert-manager.yml

- name: Incluir tareas de configuración de get-root-ca-certs
  ansible.builtin.import_tasks: get-root-ca-certs.yml
