MarkupSafe==3.0.3
cffi==2.0.0
cryptography==46.0.3
jinja2==3.1.6
pycparser==2.23
resolvelib==1.2.0
ansible==11.3.0
ansible-core==2.18.1
ansible-lint==25.9.2
yamllint==1.37.1
pre-commit==4.3.0
kubernetes==33.1.0
