---
apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    meta.helm.sh/release-name: argocd
    meta.helm.sh/release-namespace: argocd
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: argocd
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
    app.kubernetes.io/version: v3.0.11
    helm.sh/chart: argo-cd-8.1.3
  name: argocd-rbac-cm
  namespace: argocd
data:
  scopes: '[groups]'
  policy.matchMode: glob
  policy.default: ""
  policy.csv: |
    p, role:readonly-user, applications, get, platform/whoami-*, allow
    p, role:readonly-user, applications, sync, platform/whoami-*, allow
    p, role:readonly-user, applications, action/apps/Deployment/restart, platform/whoami-*, allow
    p, role:readonly-user, exec, create, platform/whoami-*, allow
    g, yorch, role:readonly-user
