---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
  namespace: argocd
data:
  admin.enabled: "true"
  accounts.yorch: login
  exec.enabled: "true"
  url: https://argocd.hq.kronops.io
