# config file for ansible -- https://ansible.com/
# ===============================================

[defaults]
inventory           = inventory/hosts.yml
interpreter_python  = /usr/bin/python3
roles_path          = roles
host_key_checking   = False
timeout             = 30
inject_facts_as_vars = False

[ssh_connection]
pipelining          = True
